.list_item_container{
    width: 330px;
    height: 340px;
    border: 1px solid #224cff66;
    text-align: center;
    padding: 5px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.list_item_container img{
    width: 200px;
    height: 200px;
}

.list_item_title{
    font: 500 20px 'Montserrat';
    height: 35px;
}

.list_item_price{
    padding-top: 3px;
    font: 400 18px 'Montserrat';
}